<a href="https://colab.research.google.com/github/MatchLab-Imperial/deep-learning-course/blob/master/2020_01_part1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Introduction to Python

In this tutorial, we introduce some basic concepts about Python (we set Python 3 by default), the programming language we will use for the rest of the Deep Learning course.

In contrast with compiled languages, e.g, C or Java, where instructions in the source code are translated in a lower-level language before to be run, Python is an interpreted language and instructions are directly executed without any intermediate steps.

*   **Pro**: platform independence, ease debugging, fast prototyping
*   **Cons**: lower execution speed

Python interpreter can be invoked anytime on the command line by typing `python`. Then, it will execute each statement that you type on the command line followed by “enter”. In a Jupyter Notebook like this, you can create a new code cell and write a piece of code, and after running the cell the output is shown, like in this example.

In [1]:
print ('Hello world!')

Hello world!

If you are in the Python interpreter mode, you can simply type `exit()` to exit it. We will use Jupyter Notebooks for the tutorials as we can integrate code and visualizations in the same document, but you can write instructions on a `.py` file by using your favourite text editor and running it. For example, you could write `hello_world.py` and next execute it from the terminal with `python hello_world.py`. 

## Data type

Everything in Python is an object with a type and correspondent data. Some types are:

* **Numeric type:** `float (64 bit), int, long`
* **String**
* **Boolean:** `True, False`

Python is dynamically but strongly typed. In a strongly typed language you cannot perform operations not compatible with the data type, e.g.:

In [2]:
a = 10
b = '3'
print(a + b)

TypeError: ignored

However, it is dynamically typed, meaning *a variable is simply a value bound to a name; the value has a type -- like "integer" or "string" or "list" -- but the variable itself doesn't. Unlike C or C++ variables, you could have a variable which, right now, holds a number, and later assign a string to it if you need it to change* as described in the [Python wiki](https://wiki.python.org/moin/Why%20is%20Python%20a%20dynamic%20language%20and%20also%20a%20strongly%20typed%20language). For example, this piece of code works:

In [0]:
a = 10
a = 'Test'

 ## Indentation

Python uses the indentation level of the line to determine the grouping of statements instead of using braces or other characters.
For example:

In [3]:
# This piece of code will execute fine
if True:
  if True:
    print('Indentation correct')

Indentation correct

In [4]:
# This piece of code will fail due to bad indentation
if True:
  if True:
  print('Indentation correct')

IndentationError: ignored

In [5]:
# This piece of code will also fail due to not using any indentation
if True:
if True:
print('Indentation correct')

IndentationError: ignored

## Control instructions

To control the flow of your program control instructions are essential.

* `If/elif/else`
* Loops
* Ternary expression

In [6]:
# if/elif/else
# Check if the input number is odd or even
num = 8
if (num%2) == 0:
  print(str(num)+" is an even number.")
else:
  print(str(num)+" is an odd number.")

8 is an even number.

In [7]:
# if/elif/else
# Check if the input number is positive, negative or zero
num = 8
if num == 0:
  print(str(num) + " is neither negative nor positive.")
elif num < 0:
  print(str(num) + " is a negative number.")
else:
  print(str(num) + " is a positive number.")

8 is a positive number.

In [8]:
# Loops
# Display all the number within an interval
left_bound = 1
right_bound = 10
step = 2
print("The left closed interval is:")
# range generates a list of numbers generally used to iterate over
# it is defined as range([start], stop[, step]), where start and step are
# optional arguments
for i in range(left_bound, right_bound, step):
  print(i)

The left closed interval is:
1
3
5
7
9

A ternary expression is defined as:

``` variable = expression1 if condition else expression2 ```

Where `variable` takes value `expression1` if `condition` is `True`, or `expression2` if it is `False`. An example is:

In [9]:
# Ternary expression
# To check if the input number is odd or even
num = 10
message = "{:d} is an even number.".format(num) if (num%2) == 0  else "{:d} is an odd number.".format(num)
print(message)

10 is an even number.


## Functions

[Official Reference Manual](https://docs.python.org/2.0/ref/function.html)

Functions are useful for organizing and reusing blocks of code and can be defined with two keywords, i.e, `def` and `return`. `def` defines the function, followed by name and input parameters, and `return` followed by output arguments is used to come back to the call function. 

In a function, we can set any number of input/output arguments. Besides, there are two types of input arguments: positional (without a name, order matters), keyword (with a name). Note that keyword arguments need to be defined after positional arguments, and they have a default value.

Examples:

In [10]:
# Function, one positional argument
# Check if the input number is odd or even
def isOdd(num):
  if (num%2) == 0:
    return False
  else:
    return True


def main():
	num = 10
	answer = isOdd(num)
	if answer == True:
		print("The number is odd")
	else:
		print("The number is even")
    
main()

The number is even

In [11]:
# Function, one positional argument and two keyword arguments
# Find the maximum among three values
def max_of_three(num1, num2=15, num3=100):
  if (num1 >= num2 and num1 >= num3):
    return num1
  elif (num2 >= num1 and num2 >= num3):
    return num2
  elif (num3 >= num1 and num3 >= num2):
    return num3

def main():
  var1 = 10
  var2 = 30
  var3 = 20
  # As no keywords are used, only position matters, so num1 = var1,
  # num2 = var2 and num3 takes the default value of 100
  max_num = max_of_three(var1, var2)
  print("Max among " + str(var1) + ", "+str(var2) + " and 100 is:")
  print(max_num)
  
  # As we use the keyword num3, then num2 takes the default value 15
  # and num3 = var3
  max_num = max_of_three(var1, num3=var3)
  print("Max among " + str(var1) + ", "+str(var3) + " and 15 is:")
  print(max_num)
  

main()

Max among 10, 30 and 100 is:
100
Max among 10, 20 and 15 is:
20

## Exceptions 

[Official Documentation](https://docs.python.org/2/tutorial/errors.html)

Handling errors and exceptions is crucial to have robust programs, which can be done by using `try/except/else/finally`.

First, the statements in the `try` clause are executed. If an exception is found, the rest of the `try` clause is skipped and the `except` clause is executed. If the `try` clause does not raise an exception, the `else` clause is then executed. And then, the `finally` clause is executed in all cases.

In [12]:
# Converts a given input to float
def string_to_float(string):
  try:
    string = float(string)
  except:
    print("Error")
  else:
    print("Successfully converted")
  finally:
    print("This is always executed")


def main():
  # '7' can be casted to 7, so this works
  num = string_to_float('7')
  # float('hello') will raise an exception
  num = string_to_float('hello')
  
main()

Successfully converted
This is always executed
Error
This is always executed

## Data structures
[Official Documentation](https://docs.python.org/2/tutorial/datastructures.html)

Some basic structures are:

* `tuple`: fixed-length, immutable sequence of python object
* `list`: variable length, mutable
* `dict`: hash map or associative array with key-values

**Tuple examples**

In [13]:
# Declaration
warm_colours = ('red', 'orange', 'yellow')
warm_colours[1]

'orange'

In [14]:
# Concatenation
cool_colours = ('blue', 'green')
colours = cool_colours + warm_colours
# As tuples are immutable, concatenation creates a new tuple with
# elements from cool_colours and warm_colours
print(colours)

('blue', 'green', 'red', 'orange', 'yellow')

**List examples**

In [15]:
# Declaration
warm_colour=['red', 'orange']
# Zero-indexing, first index is 0
warm_colours[0]

'red'

In [16]:
# Adding elements at the end
warm_colour.append('yellow')
print(warm_colour)

['red', 'orange', 'yellow']

In [17]:
# Removing elements
# pop without arguments removes the last element
warm_colour.pop(1)
print(warm_colour)

['red', 'yellow']

In [18]:
# Concatenating
cool_colours = ['blue', 'green']
colours = cool_colours + warm_colour
print(colours)

['blue', 'green', 'red', 'yellow']

In [19]:
# Concatenating with extend method
new_warm_colour = ['orange', 'purple']
warm_colour.extend(new_warm_colour)
print(warm_colour)

['red', 'yellow', 'orange', 'purple']

In [20]:
# Slicing
warm_colour[1:3]

['yellow', 'orange']

In [21]:
# Negative index is used to index starting from the last element 
warm_colour[1:-1]

['yellow', 'orange']

**Dictionary examples**

In [22]:
# Declaration
population = {'UK': 66740000, 'Italy': 59290000, 'France': 65230000}
print(population)

{'UK': 66740000, 'Italy': 59290000, 'France': 65230000}

In [23]:
# Access
population['France']

65230000

In [24]:
# Removing with pop
elem = population.pop('Italy')
print(elem)
print(population)

59290000
{'UK': 66740000, 'France': 65230000}

In [25]:
# Merge two dictionaries
population_other_countries = {'China': 1386000000, 'Spain': 46570000}
population.update(population_other_countries)
print(population)

{'UK': 66740000, 'France': 65230000, 'China': 1386000000, 'Spain': 46570000}

## Classes
[Official Documentation](https://docs.python.org/2/tutorial/classes.html)

A class is a collection of variables and functions (called methods of the class). To define a class, you need to use the `class` keyword.

In [26]:
class CoordinatesClass:
  def __init__(self, x=10, y=2):
    self.x = x
    self.y = y
   
  def printVar(self):
    # Here is a guide to format strings! https://pyformat.info/
    print("Coordinates: ({}, {})".format(self.x, self.y))
    
coor = CoordinatesClass(19, 23.3)
print(coor.x)
coor.printVar()

19
Coordinates: (19, 23.3)

The `__init__` method will be called when the object is initialized. The `self` variable in the class refers to the current instance of the object, used to access its variables and methods. A more detailed explanation can be found [here](https://pythontips.com/2013/08/07/the-self-variable-in-python-explained/).  The object will save the variables x and y, which can be accessed using `coor.x` or `coor.y`. We also can use the defined method `printVar` with `coor.printVar()`.

## Modules

[Official Documentation](https://docs.python.org/2.7/tutorial/modules.html)

If you want to build longer programs, it will be necessary to define functions or classes in different files for easier maintenance. The file with the different Python definitions is what is called a module. Additionally, a collection of modules is called a package.

Several packages are used frequently for scientific computation in Python, such as Numpy, as we will see in the second part of this tutorial.

To use the modules or packages in your current Python script, you need to use `import`. For example, if we want to import the math package, we use:

In [0]:
import math

Now we have access to the functions from the `math` package by doing `math.definition`, for example:

In [28]:
# This function returns the smallest integer not less than x
math.ceil(3.7)

4

We may want to import the package using another name, then we use `as`:

In [29]:
import math as m
m.ceil(3.7)

4

You can also import definitions from the package to your local symbol table (i.e. without needing to use the `package.definition` format to call it) using `from`:

In [30]:
from math import ceil
ceil(3.7)

4

In [31]:
# You can also combine from and as
from math import ceil as c
c(5.7)

6